.page-header {
	position: relative;

	min-height: 982px;
	border-bottom: 2px solid @grey;

	.mixin__bg-color (@grey);
	.mixin__bg-img("bg_header.jpg");
	.mixin__bg-position (center);
	.mixin__bg-repeat (no-repeat);
	.mixin__bg-attachment ();
	
	&__top-inner {
	  .make-row(12);

	  padding-top: 25px;
	  padding-bottom: 185px;
	}
	&__slider-inner {
	  .make-row(12);
	}
	&__bottom-inner {
	  .make-row(12);
	} 
	
//-----bottom--feature-------

	&__bottom-wrap {
	  .make-xs-column(12);
	  .make-sm-column(12);
	  .make-md-column(12);
	  .make-lg-column(12);
	}
}

//--------------logo------------------------

.header-top {
	&__logo-wrap {
		.make-xs-column(12);
		.make-sm-column(5);
		.make-md-column(4);
		.make-lg-column(4);
	}
	&__logo-link {
		position: relative;

		display: block;
		width: 170px;
		height: 50px;
		margin-left: 24%;
	}
	&__logo-pic {
		position: absolute;
		bottom: 5%;
		left: 0;
	}
}

//--------------nav--bar-------------------------------

.header-top {
	&__nav-wrap {
		.make-xs-column(12);
		

		.make-sm-column(6);
		.make-lg-column-offset(1);	

		.make-md-column(6);
		.make-lg-column-offset(2);	
	
		.make-lg-column(6);
		.make-lg-column-offset(2);	

	}

}

.site-nav {
	margin-left: 10.6%;
	&__list {
		padding: 0;
		margin: 0;

		list-style: none;
	}
	&__li {
		display: inline-block;
		color: #fff;
	}
	&__link {
		.link-reset();
	
		display: inline-block;
		padding: 15px 12.5px;

		font-family: "Roboto Bold", sans-serif;
	}
	&__icon-font:before {
		content: '\e807';

		font-family: "fontello";
		font-size: 1.8rem;	}
}

//-----------slider----------

.slider-header {
	&__wrap {
	  .make-xs-column(12);
	  .make-sm-column(12);
	  .make-md-column(12);
	  .make-lg-column(12);
	}
}

.slider-header {
	&__content{
		position: relative;
		
		min-height: 661px;
		max-height: 690px;
		padding-top: 120px;
		padding-bottom: 243px;

		text-align: center;

		overflow: hidden;
	}
	&__header {
		margin-bottom: 0;

		font-size: 3.33rem;
		text-transform: uppercase;
		color: #fff;
	}
	&__text{
		margin-top: 0;
		margin-bottom: 30px;

		font-size: 1.85rem;
		color: #fff;
		font-family: "Roboto Thin", sans-serif;
	}
	&__text--yellow {
		color: @yellow;
	}
	&__btn {
		padding: 16px 26px;
		border: none;

		font-size: @font-size-small;
		text-transform: uppercase;
		color: @yellow;

		background-color: #000;
		border-radius: 7px;
	}
	&__toggle {
		position: absolute;	

		display: inline-block;
		border: 2px solid #fff;
		width: 58px;
		height: 58px;

		font-family: "icon-font"; //------------font---------------

		border-radius: 8px;
	}
	&__toggle--prev {
		.link-reset();
		top: 272px;
		left: 1.2%;
		
		text-align: center;
	}
	&__toggle--prev:before {
		content: '\e806';

		.link-reset();

		font-family: "fontello";
		color: #fff;
		font-size: 2rem;
		line-height: 3.6rem;

	}
	&__toggle--next {
		.link-reset();

		top: 272px;
		right: 1.2%;

		text-align: center;
	}
	&__toggle--next:before {
		content: '\e805';

		.link-reset();

		font-family: "fontello";
		color: #fff;
		font-size: 2rem;
		line-height: 3.6rem;
	}
	&__wrap:after {
		content: "";

		position: absolute;
		bottom: -111px;
		left: 0;
		z-index: 100;

		height: 4px;
		width: 25%;

		background-color: @yellow;
	}
}

//-----------link--contact-------

.page-header {
	&__bottom-wrap {
		min-height: 77px;

		background-color: transparent;
	}
	&__link-contact {
		position: relative;
		left: 50%;

		margin-left: -33px;
	}
}
