.page-main {
  .clearfix();
  &__categories-inner {
    .make-row(12);
  }
  &__popular-inner {
    .make-row(12);
  }
  &__contact-inner {
    .make-row(12);
  }
}

//------------categories-----------------

.page-main {
  &__categories-wrap {
    

    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(12);
    .make-lg-column(12);
    .mixin__bg-img('bg_categories.jpg');
    .mixin__bg-position (50% 50%);
    .mixin__bg-repeat ();
    .mixin__bg-attachment();

    min-height: 628px;

    background-color: #eee;
  }
  &__categories-header {
    margin-top: 0;
    margin-bottom: 70px;
    padding-top: 70px;

    text-align: center;
  }
  &__categories-items-inner {
    .make-row(12);
  }
}
.categories-item {
  max-width: 345px;
  height: 285px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;

  text-align: center;

  .clearfix();
  &__first-wrap {
    .make-xs-column(12);
    .make-sm-column(6);
    .make-md-column(3.33);
    .make-md-column-offset(1);
    .make-lg-column(3.33);
    .make-lg-column-offset(1);
  }
  &__second-wrap {
    .make-xs-column(12);
    .make-sm-column(6);
    .make-md-column(3.33);
    .make-lg-column(3.33);
  }
  &__third-wrap {
    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(3.33);
    .make-lg-column(3.33);
  }
  &__fixed {
    .mixin__bg-color ('#4b4b4b');
    .mixin__bg-img('categories_item-1.jpg');
    .mixin__bg-position (center);
    .mixin__bg-repeat ();
    .mixin__bg-attachment();
  }
  &__premium {
    //.mixin__bg-color ("#4b4b4b");
    .mixin__bg-img('categories_item-2.jpg');
    .mixin__bg-position (center);
    .mixin__bg-repeat();
    .mixin__bg-attachment();
  }
  &__city {
    //.mixin__bg-color ("#4b4b4b");
    .mixin__bg-img('categories_item-3.jpg');
    .mixin__bg-position (center);
    .mixin__bg-repeat();
    .mixin__bg-attachment();
  }
  &__header {
    margin-top: 135px;
    margin-bottom: 0;
    padding-bottom: 0;

    font-size: @font-size-base;

    text-transform: uppercase;

    color: @yellow;
  }
  &__text {
    margin-top: 10px;
    margin-bottom: 25px;
    padding-bottom: 0;

    font-size: 1.07rem;

    color: #fff;
  }
  &__btn {
    padding: 12px 20px;
    border: 3px solid @white;

    font-size: 12px;

    text-transform: uppercase;

    color: #fff;
    border-radius: 10px;
    background-color: transparent;
  }
}

//-----------------popular--------------------

.page-main {
  &__popular-wrap {
    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(12);
    .make-lg-column(12);
  }
  &__popular-header {
    margin-top: 0;
    margin-bottom: 70px;
    padding-top: 70px;

    text-align: center;
  }
  &__popular-items-inner {
    .make-row(12);
  }
}
.popular-item {
  max-width: 490px;
  min-height: 390px;
  margin: 0 auto;
  padding-bottom: 34px;

  .clearfix();
  &__wrap {
    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(4);
    .make-lg-column(4);
  }
  &__img {
    max-width: 490px;
  }
  &__header {
    margin-top: 0;
    margin-bottom: 7px;

    font-size: @font-size-small;
    font-weight: bold;

    text-align: left;
    text-transform: uppercase;
  }
  &__cost {
    display: block;

    margin-top: 0;

    font-size: @font-size-base;
    font-weight: lighter;
  }
  &__form {
    float: right;
  }
  &__select {
    padding: 11px 35px;
    border: 1px solid #8f8f8f;

    font-size: @font-size-small;

    text-transform: uppercase;

    border-radius: 5px;
  }
  &__btn {
    padding: 13px 35px;
    border: none;

    font-size: @font-size-small;

    text-transform: uppercase;

    color: @yellow;
    border-radius: 8px;
    background-color: #000;
  }
  //--------------HOVER-----------
  &__btn:hover {
    border: none;

    transition-timing-function: ease;
    transition-duration: 1s;
    transition-property: background-color, color;

    color: #000;
    background-color: lighten(@yellow, 10);
  }
}

//------------contact--us----------------

.page-main {
  &__contact-inner {
    .make-row(12);
  }
  &__contact-wrap {
    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(12);
    .make-lg-column(12);
    .mixin__bg-color ('#4b4b4b');
    .mixin__bg-img('bg_contact.jpg');
    .mixin__bg-position (50% 50%);
    .mixin__bg-repeat (repeat);
    .mixin__bg-attachment();

    min-height: 634px;
  }
  &__contact-header {
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 60px;

    text-align: center;
  }
  &__form-inner {
    .make-row(12);
  }
  &__contact-form {
    .make-xs-column(12);
    .make-sm-column(8);
    .make-sm-column-offset(2);
    .make-md-column(6);
    .make-md-column-offset(3);
    .make-lg-column(4);
    .make-lg-column-offset(4);
  }
  &__contact-text {
    display: block;

    margin-bottom: 45px;

    text-align: center;
  }
  &__contact-input {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 20px;
    padding: 14px 20px;
    border: 1px solid #dadada;

    font-size: @font-size-small;

    text-transform: uppercase;

    border-radius: 8px;
  }
  &__contact-input--firstname {
    min-width: 47%;
    max-width: 100%;
    margin-right: 5%;
  }
  &__contact-input--surname {
    min-width: 47%;
    max-width: 100%;
  }
  &__contact-input--email {
    width: 100%;
  }
  &__contact-textarea {
    width: 100%;
  }
  &__contact-btn {
    width: 100%;
    padding: 14px 20px;
    border: none;

    font-size: @font-size-small;

    text-transform: uppercase;

    color: #fff;
    border-radius: 10px;
    background-color: #b7b7b7;
  }
  //--------------HOVER------------------
  &__contact-input:focus,&__contact-input--firstname:focus,&__contact-input--surname:focus,&__contact-input--email:focus,&__contact-textarea:focus {
    outline: none;
    box-shadow: 0 1px 3px #92b4eb;
  }
}
