* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'fontello';
  font-weight: normal;
  font-style: normal;

  src: url('../font/fontello.eot?82791283');
  src: url('../font/fontello.eot?82791283#iefix') format('embedded-opentype'),
  url('../font/fontello.woff2?82791283') format('woff2'),
  url('../font/fontello.woff?82791283') format('woff'),
  url('../font/fontello.ttf?82791283') format('truetype'),
  url('../font/fontello.svg?82791283#fontello') format('svg');
}

@font-face {
  font-family: 'Roboto Regular', sans-serif;
  font-weight: normal;
  font-style: normal;

  src: url('../font/Roboto-Regular.ttf'),
  url('../font/Roboto-Regular.eot'),
  url('../font/Roboto-Regular.woff'),
  url('../font/Roboto-Regular.svg'),
  url('../font/Roboto-Regular.otf');
}

@font-face {
  font-family: 'Roboto Italic', sans-serif;

  src: url('../font/Roboto-Italic.ttf'),
  url('../font/Roboto-Italic.eot'),
  url('../font/Roboto-Italic.woff'),
  url('../font/Roboto-Italic.svg'),
  url('../font/Roboto-Italic.otf');
}

@font-face {
  font-family: 'Roboto Light', sans-serif;

  src: url('../font/Roboto-Light.ttf'),
  url('../font/Roboto-Light.eot'),
  url('../font/Roboto-Light.woff'),
  url('../font/Roboto-Light.svg'),
  url('../font/Roboto-Light.otf');
}

@font-face {
  font-family: 'Roboto Bold', sans-serif;

  src: url('../font/Roboto-Bold.ttf'),
  url('../font/Roboto-Bold.eot'),
  url('../font/Roboto-Bold.woff'),
  url('../font/Roboto-Bold.svg'),
  url('../font/Roboto-Bold.otf');
}

@font-face {
  font-family: 'Roboto Thin', sans-serif;

  src: url('../font/Roboto-Thin.ttf'),
  url('../font/Roboto-Thin.eot'),
  url('../font/Roboto-Thin.woff'),
  url('../font/Roboto-Thin.svg'),
  url('../font/Roboto-Thin.otf');
}

html {
  font-family: 'Roboto Regular', sans-serif;
  font-size: @font-size-base;
}
body {
  overflow-x: hidden; 
}

use,svg {
  margin: 0;
}
h1 {
  font-family: 'Roboto Bold', sans-serif;
  font-size: @font-size-h1;

  text-transform: uppercase;
}
h2 {
  font-family: 'Roboto Bold', sans-serif;
  font-size: @font-size-h2;

  text-transform: uppercase;
}
h3 {
  font-family: 'Roboto Bold', sans-serif;
  font-size: @font-size-h3;

  text-transform: uppercase;
}
h4 {
  font-family: 'Roboto Bold', sans-serif;
  font-size: @font-size-h4;

  text-transform: uppercase;
}
