@src-img: '../img/';
@src-fonts: 'fonts/';

@html-size-base: 10px;

@yellow: #e2e017;

@grey: #aba8a6;

@white: #fff;



//-----------------------Примеси фонов----------------------

.mixin__bg-color (@bg-color) {
  background-color: @bg-color;
};
.mixin__bg-img(@img-name) {
  background-image: url('@{src-img}@{img-name}');
};
.mixin__bg-position (@bg-position: center) {
  background-position: @bg-position;
};
.mixin__bg-repeat (@bg-repeate: no-repeat) {
  background-repeat: @bg-repeate;
};
.mixin__bg-attachment (@bg-attachment: scroll) {
  background-attachment: @bg-attachment;
};

.mixin__bg (@bg-attachment: scroll, @bg-color, @bg-img-name, @bg-position: center, @bg-repeate: no-repeat) {
  background-color: @bg-color;
  background-image: url('@{src-img}@{img-name}');
  background-repeat: @bg-repeate;
  background-attachment: @bg-attachment;
  background-position: @bg-position;
};

//----------------------mixins-----------------

//---------------mixins--for--link--------------

.link-reset() {
  font-family: inherit;

  text-decoration: none;
  text-transform: uppercase;

  color: inherit;
}

//--------ANIMATION--CLASSES---------

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);

    opacity: 0;
  }

  to {
    -webkit-transform: none;
            transform: none;

    opacity: 1;
  }
}

@keyframes fadeInDownBig {
  from {
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);

    opacity: 0;
  }

  to {
    -webkit-transform: none;
            transform: none;

    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);

    opacity: 0;
  }

  to {
    -webkit-transform: none;
            transform: none;

    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);

    opacity: 0;
  }

  to {
    -webkit-transform: none;
            transform: none;

    opacity: 1;
  }
}

@keyframes fadeInUpBig {
  from {
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);

    opacity: 0;
  }

  to {
    -webkit-transform: none;
            transform: none;

    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fadeOutLeftBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
}
@keyframes fadeOutRightBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse--site-nav {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.07, 1.07, 1.07);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
}
.pulse--site-nav {
  animation-name: pulse--site-nav;
  animation-duration: .2s !important;
}
.pulse {
  animation-name: pulse;
}
.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}
.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}
.fadeOutLeft {
  animation-name: fadeOutLeft;
}
.fadeOut {
  animation-name: fadeOut;
}
.fadeInRightBig {
  animation-name: fadeInRightBig;
}
.fadeInLeft {
  animation-name: fadeInLeft;
}
.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}
.fadeInRight {
  animation-name: fadeInRight;
}
.fadeInUpBig {
  animation-name: fadeInUpBig;
}
.fadeInUp {
  animation-name: fadeInUp;
}
.fadeInDown {
  animation-name: fadeInDown;
}
.fadeInDownBig {
  animation-name: fadeInDownBig;
}
.fadeIn {
  animation-name: fadeIn;
}
.fadeInRight--site-nav {
  animation-name: fadeInRight;

  animation-duration: 0.5s !important;
}
.animated {
  animation-duration: 1s;

  animation-fill-mode: both;
}
